* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
